{% extends 'base.html' %}

{% block title %}
flytoken-登陆
{% endblock %}

{% block css %}
<link rel="stylesheet" href="//flytoken.pro/static/css/login.css">
{% endblock %}

{% block content %}
<section class="main container flex vCenter hCenter">
  <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
      <div class="main__wrap">
          <h4 class="main__wrapTitle">登陆</h4>
          <div class="input-group input-group-lg">
              <div>邮箱</div>
              <input type="email" name="username" class="form-control" placeholder="">
          </div>
          <div class="input-group input-group-lg">
              <div>密码</div>
              <input type="password" name="password" class="form-control" placeholder="">
          </div>
          <button type="submit" class="main__btn" style="display: block;">登陆</button>
          <div class="main__bottom">
              <a href="//flytoken.pro/signup">注册</a>
              <a href="//flytoken.pro/#/password_reset_email">忘记密码</a>
          </div>
      </div>
  </form>
</section>
{% endblock %}