{% extends 'base.html' %}

{% block title %}
flytoken-修改密码
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/setpassword.css">
{% endblock %}

{% block content %}
    <section class="setpass container flex vCenter hCenter">
        <form action="/password_reset/" method="post">
        {% csrf_token %}
            <div class="setpass__wrap">
                <h4 class="setpass__wrapTitle">设置新密码</h4>
                <div class="input-group input-group-lg">
                    <div>密码</div>
                    <input type="password"" name="newpass" id="newpass" class="form-control" placeholder="">
                </div>
                <button type="submit" class="setpass__btn" style="display: block;">更改密码</button>
                <div class="setpass__bottom">
                    <a href="login">取消</a>
                </div>
            </div>
        </form>
    </section>
{% endblock %}