html,body {
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

.main {
    background: #e3f2fe;
    width: 100%;
    height: 100%;
}

@media (max-width: 350px) {
    .main {
        /* padding: 40px 0 0 0; */
    }
    
}

.main > form {
    margin: 0 0 120px 0;
}

.main form > h4 {
    text-align: center;
    padding: 0 0 0 0;
}

html,body {
    width: 100%;
    height: 100%;
}

.main__wrap {
    width: 430px;
    height: 400px;
    background: #fff;
    margin: 15px auto 0 auto;
    padding: 15px 0 0 0;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .05);
}

.main__wrapTitle {
    letter-spacing: 1px;
    text-align: center;
    color: #5B6168;
    margin: 0;
}

.main__wrap .input-group {
    width: 80%;
    margin: 0 auto;
}

.main__wrap .input-group div {
    margin: 12px 0;
}

.main__wrap .input-group input {
    height: 40px;
    border-radius: 5px !important;
}

.main__btn {
    width: 80%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    background: #4293ea;
    margin: 20px auto 0 auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .05);
}

.main__bottom {
    position: relative;
    width: 76%;
    margin: 10px auto 0 auto;
}

.main__bottom span {
    font-size: 12px;
}

.main__bottom a {
    position: absolute;
    top: 0;
    right: 0;
}